<form name="categoryForm" ng-submit="submitCategory(itemCategory)">
    <div class="row">
        <div class="col-md-3">
            <label>Category : </label>
        </div>
        <div class="col-md-9">
            <input class="min-width" type="text" name="category" id="category" ng-model="itemCategory.name" ng-minlength="1" required>
        </div>
    </div>
    <div class="row margint">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <button class="min-width" ng-disabled="!categoryForm.$valid" type="submit" style="width: 155px;" id="input-category">Create an Category</button>
        </div>
    </div>
</form>