<form name="todoForm" ng-submit="submitTodo(itemTodo)">
    <div class="row">
        <div class="col-md-3">
            <label>Todo : </label>
        </div>
        <div class="col-md-9">
            <input class="min-width" type="text" name="todo" id="todo" ng-minlength="1" ng-model="itemTodo.name" required>
        </div>
    </div>
    <div class="row margint">
        <div class="col-md-3">
            <label>Importance : </label>
        </div>
        <div class="col-md-9">
            <select class="min-width" ng-options="importance.id as importance.name for importance in importances" ng-model="itemTodo.importance" required></select>
        </div>
    </div>
    <div class="row margint">
        <div class="col-md-3">
            <label>Category : </label>
        </div>
        <div class="col-md-9">
            <select class="min-width" ng-options="category.id as category.name for category in categories" ng-model="itemTodo.category" required></select>
        </div>
    </div>
    <div class="row margint">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <button class="min-width" ng-disabled="!todoForm.$valid" type="submit" style="width: 155px;">Create an Todo</button>
        </div>
    </div>
</form>
