h1 {
    text-align: center;
}

body {
    color: #797979;
    background: #f2f2f2;
    font-family: 'Ruda', sans-serif;
}

.badge.bg-important {
    background: #c9302c;
}

.badge.bg-warning {
    background: #FCB322;
}

.badge.bg-success {
    background: #a9d86e;
}

.task-list > li {
    position: relative;
    border-bottom: 1px dashed #eaeaea;
    min-height: 30px;
    margin-top: 5px;
    list-style: none;
}

ul {
    padding: 0;
}

.white-panel {
    text-align: center;
    background: #ffffff;
    color: #ccd1d9;
    margin-right: 20px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.white-panel2 {
    text-align: left;
    background: #ffffff;
    color: #ccd1d9;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    min-height: 140px;
}

.min-width {
    min-width: 155px;
}

.margint {
    margin-top: 5px;
}
