<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ToDoList with angular</title>
    <script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="js/app/app.js"></script>
    <script type="text/javascript" src="js/app/controllers/mainController.js"></script>
    <script type="text/javascript" src="js/app/directives/todoForm.js"></script>
    <script type="text/javascript" src="js/app/directives/categoryForm.js"></script>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link href='http://fonts.googleapis.com/css?family=Ruda:400,700,900' rel='stylesheet' type='text/css'>
</head>
<body ng-app="app">
<div class="container" ng-controller="mainController">
    <h1 id="title-site">{{ title }}</h1>

    <div class="row">
        <div class="white-panel2">
            <div class="col-md-6" style="margin-top: 20px;" category-form>
            </div>
            <div class="col-md-6" style="margin-top: 20px;" todo-form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 pn white-panel" ng-repeat="category in categories">
            <h1 id="category-{{category.id}}">{{ category.name }}</h1>
            <ul class="task-list">
                <li ng-repeat="todo in todos | filter: { idCategory: category.id }">
                    <div class="row">
                        <div class="col-md-4 col-xs-4" ng-switch on="todo.importanceId">
                            <span class="badge bg-important" ng-switch-when="0">Hight</span>
                            <span class="badge bg-warning" ng-switch-when="1">Normal</span>
                            <span class="badge bg-success" ng-switch-when="2">Low</span>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            {{ todo.name }}
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <button class="btn btn-danger btn-xs" ng-click="deleteTodo(todo)"><i
                                    class="glyphicon glyphicon-trash"></i></button>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>